**/__pycac.pyc
*.idea
/data_synthesis/TimeGAN/data/
/data_synthesis/TimeGAN/export/
/data_synthesis/TimeGAN/fig/
/data_synthesis/TimeGAN/generated_data/
/data_synthesis/TimeGAN/model/
/data_synthesis/TimeGAN/log/
/data_synthesis/TimeGAN/style_discriminator/
/data_synthesis/TimeGAN/training_log/
/data_synthesis/TimeGAN/.ipynb_checkpoints/
/data_synthesis/TimeGAN/metrics/.ipynb_checkpoints/
/data_synthesis/timegan-pytorch/run.sh