absl-py
addict
aiosignal
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
attrs
babel
backcall
beautifulsoup4
bleach
brotlipy
ca-certificates
cachetools
certifi
celery
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
distlib
dm-sonnet
dm-tree
dtaidistance
einops
entrypoints
exceptiongroup
executing
fastdtw
filelock
Flask
Flask-Cors
flatbuffers
fonttools
fvcore
frozendict
frozenlist
gast
giflib
git+https://github.com/optuna/optuna.git
glib
google-auth
google-auth-oauthlib
google-pasta
grpcio
gst-plugins-base
gstreamer
gym
gymnasium
gym-notices
h5py
html5lib
icu
idna
imageio
importlib-metadata
importlib-resources
iniconfig
iopath
ipykernel
ipython
ipywidgets
itsdangerous
jax
jedi
jinja2
joblib
jpeg
json5
jsonschema
jupyter
jupyterlab
kaleido==0.1.0
keras
kiwisolver
lazy-loader
lerc
libclang
libdeflate
libffi
libiconv
libogg
libpng
libsodium
libtiff
libvorbis
libwebp
libwebp-base
libxml2
libxslt
llvmlite
lxml
lz4
lz4-c
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mmcv==1.7.1
model-index
mpmath
msgpack
multitasking
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numba
numpy
oauthlib
opencv-python
openmim
openssl
openfe
opt-einsum
optional-django
ordered-set
packaging
pandas
pandocfilters
parso
patool
patsy
pcre
pickleshare
pillow
pip
pika
platformdirs
plotly
pluggy
ply
portalocker
prettytable
prompt-toolkit
protobuf
psutil
pyasn1
pyasn1-modules
pycparser
pydantic==1.10.2
pygments
pyopenssl
pyparsing
pyqt
pyqt5-sip
pyrsistent
pysocks
pytest
python
python-dateutil
python-fastjsonschema
pytz
pywavelets
pywin32
pywinpty
pyyaml
pyzmq
qt-main
qt-webengine
qtconsole
qtpy
qtwebkit
ray[rllib]==1.13.0
react
regex
requests
requests-oauthlib
rich
rsa
scikit-image
scikit-learn
scipy
send2trash
setuptools
sip
six
sklearn
sniffio
soupsieve
sqlalchemy
sqlite
spacy
statsmodels
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardx
tensorflow==2.11.0
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
tensorflow-probability
termcolor
terminado
tfp-nightly
threadpoolctl
tifffile
tinycss2
toml
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
tslearn
typing-extensions
tzdata
urllib3
vc
virtualenv
wcwidth
webencodings
websocket-client
werkzeug
wheel
widgetsnbextension
wincertstore
winpty
wrapt
xz
yapf
yfinance
zeromq
zipp
zlib
zstd
