mmcv
prettytable
plotly
Flask
Flask-Cors
optuna
scipy
psutil
iopath
pandas
yfinance
matplotlib
statsmodels
scikit_learn
tslearn
gym
ray[rllib]==1.13.0
tensorflow==2.11.0
packaging
kaleido==0.1.0
h5py
