Flask
Flask-Cors
mmcv==1.7.1
git+https://github.com/optuna/optuna.git
prettytable
plotly
psutil
scipy
spacy
sqlalchemy
pandas
iopath
yfinance
matplotlib
statsmodels
scikit_learn
tslearn
gym
gymnasium
ray[rllib]==1.13.0
tensorflow==2.11.0
packaging
kaleido==0.1.0
h5py
pydantic==1.10.2
jupyter
celery
pika
fvcore
openfe
fastdtw
chardet
pyarrow